@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contacts>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
	ViewData["PageTitle"] = @Model.Value("pageTitle");
	ViewData["PageDescription"] = @Model.Value("pageDescription");
	
	foreach (var keyword in @Model.PageKeywords)
	{
	    ViewData["PageKeywords"] += $"{keyword},";
	}
}

<partial name="PartialNavbarTransparent" />

<div class="map-container">
        <img src="/images/map.svg" alt="">
</div>

<partial name="PartialContactsForm" />